.App {
  text-align: center;
}
.App button{
  margin-top: 2%;
  padding:10px;
  background-color: rgba(100, 200, 200, 1);
  border-radius: 10px;
  border: none;
}
.App button:hover{
  background-color: rgb(8, 187, 187);
}

p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 40px;
  padding-left: 20px ;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: rgba(100, 200, 200, 0.1);
}

.card img{
  border-radius: 20px;
}

